@import "tailwindcss";
 
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  color: #4e4e4e;
  text-transform: uppercase;
  font-family: "IBM Plex Mono";
  font-size: 0.85rem;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}